@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");
html,
body,
p {
  padding: 0;
  margin: 0;
}

.main {
  background-color: #7452a3;
  height: 1024px;
}

.main .main__container {
  margin: 0 auto;
  width: 80%;
}

.main .main__container .main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7452a3;
  padding-top: 20px;
}

.main .main__container .main__nav .main__nav_enterprise_name {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #99f7e2;
}

.main .main__container .main__nav .main__nav_menu_icon {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .main__container .main__we_are {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__container .main__we_are .main__we_are_header_title {
  font-family: "Libre Baskerville", serif;
  font-size: 64px;
  line-height: 1.5;
  color: #99f7e2;
}

.main .main__container .main__we_are .main__we_are_header_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
}

.main .main__container .main__we_are .main__we_are_dots {
  position: fixed;
  right: 20px;
  top: 350px;
  z-index: 2;
}

.main .main__container .main__we_are .main__we_are_dots .main__we_are_slider_bullets {
  width: 12px;
  height: 153px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .main__container .main__mouse {
  padding-bottom: 15px;
  text-align: center;
}

.main .main__container .main__mouse .main__mouse_mouse_icon {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}

.products {
  height: 1024px;
}

.products .products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 1024px;
}

.products .products__container .products__left {
  width: 802px;
  height: 517px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.products .products__container .products__left .products__left_img {
  width: 802px;
  height: 517px;
  -o-object-fit: contain;
     object-fit: contain;
}

.products .products__container .products__rigth {
  width: 705px;
  height: 734px;
  background-color: #f5f3f8;
  position: absolute;
  right: 0;
}

.products .products__container .products__rigth .products__rigth_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-left: 30px;
  width: 55%;
}

.products .products__container .products__rigth .products__rigth_info .products__rigth_info_header {
  font-family: "Libre Baskerville", serif;
  font-size: 46px;
  line-height: 1.5;
  color: #7452a3;
}

.products .products__container .products__rigth .products__rigth_info .products__rigth_info_main_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: #060606;
}

.products .products__container .products__rigth .products__rigth_info .products__rigth_info_link {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 2;
  color: #67b3ff;
  width: 293px;
  height: 41px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */