@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap");

$main_color: #99f7e2;
$secondary_color: #7452a3;
$tertiary_color: #00309a;
$LibreBaskerville: "Libre Baskerville", serif;
$SourceSansPro: "Source Sans Pro", sans-serif;
$font_18: 18px;

html,
body,
p {
  padding: 0;
  margin: 0;
}

.main {
  background-color: $secondary_color;
  height: 1024px;
  .main__container {
    margin: 0 auto;
    width: 80%;
    .main__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $secondary_color;
      padding-top: 20px;
      .main__nav_enterprise_name {
        font-family: $SourceSansPro;
        font-size: 36px;
        font-weight: 600;
        color: $main_color;
      }
      .main__nav_menu_icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
      }
    }
    .main__we_are {
      height: 900px;
      display: flex;
      justify-content: center;
      align-items: center;
      .main__we_are_header_title {
        font-family: $LibreBaskerville;
        font-size: 64px;
        line-height: 1.5;
        color: $main_color;
      }
      .main__we_are_header_text {
        font-family: $SourceSansPro;
        font-size: 18px;
        font-weight: 300;
        line-height: 2;
        color: #ffffff;
      }
      .main__we_are_dots {
        position: absolute;
        right: 20px;
        top: 400px;
        .main__we_are_slider_bullets {
          width: 12px;
          height: 153px;
          object-fit: contain;
        }
      }
    }
    .main__mouse {
      padding-bottom: 15px;
      text-align: center;
      .main__mouse_mouse_icon {
        width: 36px;
        height: 36px;
        object-fit: contain;
      }
    }
  }
}

.products {
  height: 1024px;
  .products__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1024px;
    .products__left {
      width: 802px;
      height: 517px;
      position: absolute;
      left: 0;
      z-index: 1;
      .products__left_img {
        width: 802px;
        height: 517px;
        object-fit: contain;
      }
    }
    .products__rigth {
      width: 705px;
      height: 734px;
      background-color: #f5f3f8;
      position: absolute;
      right: 0;
      .products__rigth_info {
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: center;
        margin: 0 auto;
        padding-left: 30px;
        width: 55%;
        .products__rigth_info_header {
          font-family: $LibreBaskerville;
          font-size: 46px;
          line-height: 1.5;
          color: $secondary_color;
        }
        .products__rigth_info_main_text {
          font-family: $SourceSansPro;
          font-size: $font_18;
          font-weight: 300;
          line-height: 2;
          color: #060606;
        }
        .products__rigth_info_link {
          font-family: Helvetica;
          font-size: $font_18;
          line-height: 2;
          color: #67b3ff;
          width: 293px;
          height: 41px;
          text-decoration: none;
        }
      }
    }
  }
}
